@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Base Styles */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* ----- Header Styles ----- */
.header {
  width: 100%;
  padding: 50px;
  text-align: center;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo i {
  margin-right: 10px;
  font-size: 2rem;
  color: #fff;
  background-color: rgb(126, 206, 250);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* ----- Icon Section Styles -----*/
.icon-section {
  padding: 0 20px 90px;
}

.icon-section .container {
  background-color: rgb(246, 247, 248);
  padding: 70px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.icon-section .call-to-action {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.icon-section .description {
  font-size: 1.8rem;
  max-width: 900px;
  margin: 0 auto 60px;
}

.icon-section .icon-info {
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto 50px;
  padding: 20px;

  display: flex;
  align-items: center;
}

.icon-container {
  /* border: 2px solid black; */
  width: 100px;
  height: 100%;
  margin-right: 15px;
}

.icon-container img {
  object-fit: cover;
}

.icon-action {
  text-align: left;
  margin-left: 10px;
}

.icon-action p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.icon-action p span {
  font-weight: 600;
}

.icon-action .download-btn {
  background-color: rgb(126, 206, 250);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
}

form {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

form p {
  margin-bottom: 10px;
}

form .form-control {
  height: 55px;
  background-color: rgb(126, 206, 250);
  display: flex;
  border-radius: 10px;
  padding-left: 20px;
}

form .form-control i {
  align-self: center;
  margin-right: 10px;
}

form .form-control input {
  flex: 1;
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: transparent;
}

form .form-control input::placeholder {
  font-size: 1.6rem;
  color: #000;
}

form .form-control button {
  background-color: rgb(94, 194, 105);
  padding: 10px 40px;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

/* ----- Utility Classes ----- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .header .logo {
    font-size: 2rem;
  }

  .icon-section {
    padding: 0 0 90px;
  }

  .icon-section .call-to-action {
    font-size: 2.5rem;
  }

  .icon-section .description,
  .icon-action p,
  .icon-action .download-btn {
    font-size: 1.6rem;
  }

  .icon-container {
    width: 50px;
  }

  form .form-control button {
    padding: 10px 20px;
  }
}
